<div class="about-page">
  <div class="about-top">
    <div class="about-intro">
      <div class="page-header-text">Bustle is for and by women who are moving forward as fast as you are.</div>
    </div>
    <div class="about-card">
      <div class="about-card_title fancy">New force in media</div>
      <div class="about-card_text">
        "Bustle delivers everything you want to know, see, and read right now whether you're starting your work day, taking a study break, waiting for a flight, preparing a bottle for your kid, or doing something else entirely."
      </div>
    </div>
  </div>
</div>

{{link-to 'contact'}}Contact Us{{/link-to}}
