<div class="container">
  <header class="jumbotron">
    <h1>ALTERNATIVE BUSTLE</h1>
    <h2>News from the opposite side of the Political Spectrum from Bustle.com</h2>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'about'}}Learn About Us{{/link-to}}
    {{#link-to 'contact'}}Contact Us With Your Feedback{{/link-to}}
  </footer>
</div>
