<div class="container">
  <header class="jumbotron">
    <h1>ALTERNATIVE BUSTLE</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'about'}}Learn About Us{{/link-to}}
    {{#link-to 'contact'}}Contact Us With Your Feedback{{/link-to}}
  </footer>
</div>
