<div class="contact-page">
  <div class="contact-block contact-block_questions">
    <div class="contact-block_text">Adulation, objections, questions, and other nouns:</div>
    <a href="mailto:hello@bustle.com" class="pill-cta filled">Hello@bustle.com</a>
  </div>
</div>

{{#link-to 'about'}}Click Here to See About Us{{/link-to}}
